<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<script type="text/javascript" src="__PUBLIC__/Js/jquery.min.js"></script>
	<style type="text/css">
		*{margin: 0px;padding: 0px;}
		.group{height: 30px;line-height: 30px;}
	</style>
</head>
<body>
	<include file="./header" />
	<foreach name="data" item="vo">
		<div class="group">
			姓名:{$vo.nickname} 
			<a href="{:U('User/addFriend',array('en_id'=>$vo[user_en_id]))}">加好友</a> 
			<a href="{:U('Message/sendMessage',array('en_id'=>$vo[user_en_id]))}">发送信息</a>
			<a href="{:U('Message/friendMessage',array('en_id'=>$vo[user_en_id]))}">查看记录</a>
		</div>
	</foreach>
</body>
</html>